@media screen and (max-width:480px){
	.us .us_left h2{
		font-size:80%;
	}
    .us .us_left h4{
		font-size:80%;
	}
    .us .us_left a{
		font-size:80%;
	}
    .container .services .services_left h2{
        font-size:80%;
    }
    .container .services .services_left h4{
        font-size:80%;
    }
    .container .services .services_right .text_suites h4{
        font-size:80%;
    }
    .container .services .services_right .text_suites h5{
        font-size:80%;
    }
    .container .services .services_right .decoration h4{
        font-size:80%;
    }
    .container .services .services_right .decoration h5{
        font-size:80%;
    }
    .container .services .services_right .fooddrink h4{
        font-size:80%;
    }
    .container .services .services_right .fooddrink h5{
        font-size:80%;
    }
    .container .services .services_right .wifi h4{
        font-size:80%;
    }
    .container .services .services_right .wifi h5{
        font-size:80%;
    }
    .container .description h4{
        font-size:80%;
    }

}
@media screen and (max-width:600px){
	.us .us_left h2{
		font-size:80%;
	}
    .us .us_left h4{
		font-size:80%;
	}
    .us .us_left a{
		font-size:80%;
	}
    .container .services .services_left h2{
        font-size:80%;
    }
    .container .services .services_left h4{
        font-size:80%;
    }
    .container .services .services_right .text_suites h4{
        font-size:80%;
    }
    .container .services .services_right .text_suites h5{
        font-size:80%;
    }
    .container .services .services_right .decoration h4{
        font-size:80%;
    }
    .container .services .services_right .decoration h5{
        font-size:80%;
    }
    .container .services .services_right .fooddrink h4{
        font-size:80%;
    }
    .container .services .services_right .fooddrink h5{
        font-size:80%;
    }
    .container .services .services_right .wifi h4{
        font-size:80%;
    }
    .container .services .services_right .wifi h5{
        font-size:80%;
    }
    .container .description h4{
        font-size:80%;
    }
}
@media screen and (max-width:768px){
	.us .us_left h2{
		font-size:80%;
	}
    .us .us_left h4{
		font-size:80%;
	}
    .us .us_left a{
		font-size:80%;
	}
    .container .services .services_left h2{
        font-size:80%;
    }
    .container .services .services_left h4{
        font-size:80%;
    }
    .container .services .services_right .text_suites h4{
        font-size:80%;
    }
    .container .services .services_right .text_suites h5{
        font-size:80%;
    }
    .container .services .services_right .decoration h4{
        font-size:80%;
    }
    .container .services .services_right .decoration h5{
        font-size:80%;
    }
    .container .services .services_right .fooddrink h4{
        font-size:80%;
    }
    .container .services .services_right .fooddrink h5{
        font-size:80%;
    }
    .container .services .services_right .wifi h4{
        font-size:80%;
    }
    .container .services .services_right .wifi h5{
        font-size:80%;
    }
}
@media screen and (max-width:1024px){
	.us .us_left h2{
		font-size:80%;
	}
    .us .us_left h4{
		font-size:80%;
	}
    .us .us_left a{
		font-size:80%;
	}
    .container .services .services_left h2{
        font-size:80%;
    }
    .container .services .services_left h4{
        font-size:80%;
    }
    .container .services .services_right .text_suites h4{
        font-size:80%;
    }
    .container .services .services_right .text_suites h5{
        font-size:80%;
    }
    .container .services .services_right .decoration h4{
        font-size:80%;
    }
    .container .services .services_right .decoration h5{
        font-size:80%;
    }
    .container .services .services_right .fooddrink h4{
        font-size:80%;
    }
    .container .services .services_right .fooddrink h5{
        font-size:80%;
    }
    .container .services .services_right .wifi h4{
        font-size:80%;
    }
    .container .services .services_right .wifi h5{
        font-size:80%;
    }
}