*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-style {
    padding-top: 50px;
    background-color: #5c000e;
    margin-top: 50px;
}
footer {
  color: white;
  h3{
    margin-bottom: 30px;
    font-weight: 800;
  }
  .footer-above {
    padding-top: 50px;
    background-color: #5c000e;
  }
  .footer-col {
    margin-bottom: 50px;
  }
  .footer-below {
    padding: 25px 0;
    background-color: #233140;
  }
  .color{
    a{
      color: white;
      &:hover{
        color:red;
      }
    }
  }
}