*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin Center-all() {
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url(../assets/imagenfondo/afrodita-SPA.png);
    background-size: cover;
    gap: 10px;
    position: relative; }
    
    %bordercolor{
        border: 1px solid #5c000e;
    }
.container{
    overflow: hidden;
    .info-content{
        display: flex;
        flex-direction: column;
        height: 65vh;
        color: white;
        overflow: hidden;
        @include Center-all();

        .btn{
            font-weight: normal;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 2px solid transparent;
            white-space: nowrap;
            padding: 6px 12px;
            line-height: 20px;
            font-size: 14px;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: max-content;
            text-align: center;
            color: white;
            border-color: white;

            &:hover{
            color: black;
            border-color: white;
            background-color: white;
            }
        }
    }
    .us{
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        @include Center-all();
        .us_left{
            display: block;
            flex-direction: row;
            flex-wrap: wrap;
            line-height: 10px;
            align-content: center;
            h2{
                padding: 10px;
            }
            h5{
                margin-top: 15px;
                line-height: 25px;
            }
            .btn{
                background-color: black;
                color: white;
                &:hover{
                    border-color: black;
                    background-color: white;
                    color: black;
                }
            }
        }
        .us_right{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .services{
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        @include Center-all();

        .services_left{
            display: block;
            flex-direction: row;
            flex-wrap: wrap;
            line-height: 10px;
        }
        .services_right{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .text_suites{
                h5{
                    font-size: 15px;
                }
                h4{
                    font-size: 16px;
                }
                .fa-solid{
                    color: brown;
                }
            }
            .decoration{
                display: block;
                width: 50%;
                padding: 20px;
                h4{
                    font-size: 16px;
                }
                h5{
                    font-size: 15px;
                }
                .fa-solid{
                    color: brown;
                }
            }
            .fooddrink{
                display: block;
                width: 50%;
                padding: 20px;
                h4{
                    font-size: 16px;
                }
                h5{
                    font-size: 15px;
                }
                .fa-solid{
                    color: brown;
                }
            }
            .wifi{
                display: block;
                width: 50%;
                padding: 20px;
                h4{
                    font-size: 16px;
                }
                h5{
                    font-size: 15px;
                }
                .fa-solid{
                    color: brown;
                }
            }
        }
        .text_suites{
            display: block;
            width: 50%;
            padding: 20px;
        }
    }
    .description{
        background-color: rgb(33, 32, 32);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: max-content;
        height: 300px;
        align-items: center;
        text-align: center;
        @extend %bordercolor;

        strong {
            color: red;
        }
        h4{
            color: white;
        }
        .btn{
            display: inline-block;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 2px solid transparent;
            white-space: nowrap;
            padding: 6px 12px;
            line-height: 20px;
            font-size: 14px;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: white;
            border-color: white;

            &:hover{
            color: white;
            border-color: black;
            background-color: #5c000e;
            }
        }
    }
    .description_left{
        display: block;
        flex-direction: column;
        width: 50%;
        line-height: 35px;
    }
    .descripcion_right{
        display: block;
        flex-direction: column;
        width: 50%;
        text-align: center;
        img{
            @extend %bordercolor;
            width: 50%;
        }
    }
    .us_suites{
        color: white;
        justify-content: center;
        border: white 2px solid;
        h1{
            text-align: center;
            margin-left: 25%;
            margin-right: 25%;
            padding: 10px;
        }

    }
    .cards{
        margin-top: 50px;
    }
    .ushero{
        h2{
            color: white;
        }
        h4{
            color: white;
            line-height: 40px;
        }
    }
    .center{
        text-align: center;
        justify-content: center;
    }
    .carousel{
    justify-content: center;
    text-align: center;
    width: 60%;
    border: solid 1px white;
    }
    .card-body{
        h5{
            text-align: center;
        }
        .text_block{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            .left-block{
                display: block;
            }
            .right-block{
                display: block;
            }
            .card-text{
                text-decoration: underline;
            }
        }
    }
    .text_turns{
        width: 100%;
        padding: 20px;
        line-height: 50px;
        color: white;
        strong{
            text-decoration: underline;
        }
    }
    h3{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        font-weight: 300;
    }

    h1{
        font-size: 3em;
    }

    .waze{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .allsuites{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: max-content;
        padding: 20px;
        text-align: center;

        .text_suites{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
    form{
        width: 450px;
        margin: auto;
        background-color: rgba(0,0,0,0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 10px;
        border: solid 1px white;

        h2{
            color: white;
            text-align: center;
            margin: 0;
            font-size: 30px;
            margin-bottom: 20px;
        }
        input, textarea{
            width: 100%;
            margin-bottom: 20px;
            padding: 7px;
            box-sizing: border-box;
            font-size: 17px;
            border: none;
        }
        textarea{
            min-height: 100px;
            max-height: 200px;
            max-width: 100%;
        }
        #boton{
            background: #31384A;
            color: white;
            padding: 7px;

            &:hover{
                cursor: pointer;
            }
        }
    }
    fieldset{
        h2{
            color: white;
            text-align: center;
        }
        h6{
            color: white;
        }
    }
.contacto{

    justify-content: center;
    text-align: center;
    h3{
    color: white;
    }
    button{
        margin-top: 7px;
    }
}
.text-center{
    p{
        color: white;
    }
    .btn{
        background-color: #31384A;
        border: solid 1px white;
    }
}

.card{
    @extend %bordercolor;
}

}